<!DOCTYPE html>
<html>
  <head>
    <title>Dujota Studios Online Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <%# HEADER %>
    <header class="main">
      <%= image_tag "logo.png", alt: "Dujota Studios" %>
      <h1><%= @page_title %></h1>
    </header>

    <%# LAYOUT CONTAINER %>
    <section class="content">

      <%# SIDE NAV %>
      <nav class="side_nav">

        <%# CART %>
        <% if @cart %>
          <div id="cart" class="carts">
            <%= render_if @cart.line_items.any?, @cart %>
          </div>
        <% end %>


        <%# MENU %>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <%# MAIN %>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>